<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
    <head>
        <title>첫번째 페이지</title>
        <meta charset="euc-kr">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding">
        <link rel="stylesheet" href="/static/style.css" type='text/css'>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body,h1 {font-family: "Montserrat", sans-serif}
            img {margin-bottom: -7px}
            .w3-row-padding img {margin-bottom: 12px}
            body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
            .w3-row-padding img {margin-bottom: 12px}
            /* Set the width of the sidebar to 120px */
            .w3-sidebar {width: 120px;background: #222;}
            /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
            #main {margin-left: 120px}
            /* Remove margins from "page content" on small screens */
            @media only screen and (max-width: 600px) {#main {margin-left: 0}}
            </style>
    </head>

   


    <body class="w3-black">
        <container></container>
            <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
                    <!-- Avatar image in top left corner -->
                    <img src="{% static 'tomato.jpg' %}" style="margin:0 auto; width:193%"/>
                    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
                      <i class="fa fa-home w3-xxlarge"></i>
                      <p>HOME</p>
                    </a>
                    <a href="#choice2" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                      <i class="fa fa-user w3-xxlarge"></i>
                      <p>CHART</p>
                    </a>
                    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-black" >
                      <i class="fa fa-eye w3-xxlarge" onClick="window.open('http://returnfarm.gwd.go.kr/site/policy/gangwondo.do')" target="_blank"></i>
                      <p>POLICY</p>
                    </a>
                  <!--  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                      <i class="fa fa-envelope w3-xxlarge"></i>
                      <p>CONTACT</p>  -->
                    </a>
                  </nav>  
                 </container> 
        <!-- header -->
        <container>
        <header class="w3-container w3-center w3-padding-32 w3-white">
                <h1 class="w3-jumbo" style="color:yellow"><b>귀농귀촌,　　</b></h1>
                <h1 class="w3-jumbo"><b>시작해볼까요?</b></h1>
                <h5>수고한 당신의 새로운 안식처를 찾아보세요</h5>
        </header>

        <!-- Image header -->
        <header class="bgimg w3-display-container scale-min w3-center w3-padding-32 " id="home">
           
            <div class="w3-display-bottomleft w3-padding"></div>
                <div class="w3-display-middle w3-center">
                  <p><a href="#choice" class="w3-button w3-xxlarge w3-black">내게 맞는 지역 찾아보기</a></p>
                  <p><a href="#choice2" class="w3-button w3-xxlarge w3-black">강원도 인프라 한눈에 보기</a></p>
                  <input type="button" value="강원 귀촌 지원정책" class="w3-button w3-xxlarge w3-black" onClick="window.open('http://returnfarm.gwd.go.kr/site/policy/gangwondo.do')" target="_blank">
                </div>
        </header>

        
        <!-- choice Container -->
        <div class="w3-container w3-white w3-padding-48 w3-xxlarge" id="choice">
            
            <div class="w3-content">
                    <div class="w3-clear"></div>
    <header class="w3-center w3-margin-bottom">
      <br>
                <h1><b>지역 고르기</b></h1>

    </header>
                
                <div class="w3-container w3-padding-8 w3-white"></div>

                <form method="POST" class="form-search" id="searchForm" name="searchForm">  
                    {% csrf_token %}
                    <div class="search_city">      
                        <div class="majorWrap">
                            <table class="majorTable">
                            {% if city_list %}
                                {% for city in city_list %}
                                    {% cycle '<tr>' '' '' '' %}
                                        <td>
                                        <input type="checkbox" id="{{city.name}}" class="chkbx" value="{{city.name}}">
                                            <label for="{{ city.name }}">{{city.name}}</label>
                                        </td>
                                    {% cycle '' '' '' '<tr>' %}
                                {% endfor %}
                            {% else %}
                                <p>데이터 값을 찾을 수 없음</p>
                            {% endif %}
                            </table>
                        </div>
                        <div class="w3-container w3-padding-16 w3-white"></div>
                        <input type="text" id='selectCity' name='selectedCity' value='  시/군구를 선택하세요'/>
                        <input type="button" class='submit' id="searchButton" title="지역검색" value="전송" onclick="location.href ='#rank'"/>
                    </div> 
                </form>
            </div>
            <br><br><br>
        </div>

        

        <div class="w3-container w3-white w3-padding-48 w3-xxlarge" id="rank">
                <hr><br>
            <div class="w3-content">
                <h1 class="w3-center w3-small w3-xxlarge" style="margin-bottom:32px"><b>우선순위 선택하기</b></h1>
                <form method = "POST" action = "{% url 'country:result' %}" class="form-rank" id="rankForm" >
                    <div class="search_city2">
                        {% csrf_token %}
                     
                        <select name="rankForm1">
                            <option selected disabled="disabled">1순위</option>
                            <option value="house">집값</option>
                            <option value="-medical">병원 수</option>
                            <option value="-school">학교 수</option>                          
                        </select>
        
                      
                        <select name="rankForm2">
                            <option selected disabled="disabled">2순위</option>
                            <option value="house">집값</option>
                            <option value="-medical">병원 수</option>
                            <option value="-school">학교 수</option>                                
                        </select>
                       
                        <select name="rankForm3">
                            <option selected disabled="disabled">3순위</option>
                            <option value="house">집값</option>
                            <option value="-medical">병원 수</option>
                            <option value="-school">학교 수</option>       
                        </select><br>
                        <input type = "submit" class="rankSubmit">
                </form>
            </div>
            </div>
            <br><br><br>
        </div>
        

        <!-- choice2 container -->
        <div class="w3-container w3-white w3-padding-48 w3-xxlarge" id="choice2">
                <hr><br><br><br>
            <div class="w3-content">
                    <h1 class="w3-center w3-small w3-xxlarge" style="margin-bottom:20px"><b>강원도 내 행정구역별 인프라</b></h1>
                    
                    <img src="{% static 'chart.jpg' %}" style="margin-left: auto; margin-right: auto; display: block; width:100%;height:600px;"/>

        </div>
      
       <!-- choice3 continer-->

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">

            $('.chkbx').click(function(){
                var text= "";
                $('.chkbx:checked').each(function(){
                    text += $(this).val() + ',';
                });
                text = text.substring(0,text.length-1);
                $('#selectCity').val(text);
                
            });
         
        
            $("#searchButton").click(function(){
                var data = $("#searchForm [name='selectedCity']").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'country:search' %}",
                    data: {'data': data, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function(response){
                        document.getElementById("rankForm").style.display = "block";

    ;               },
                    error: function(request, status, error){
                        alert("비동기 요청시 에러 발생")
                    },
                });
            })
        </script>
        
    </container>
    </body>
</html>